# Sleep Health & Lifestyle Analysis

This project explores how lifestyle and health-related factors 
are associated with sleep duration, sleep quality, and sleep disorders.

## Goal
Analyze the relationship between individual lifestyle and health-related factors 
and sleep duration, sleep quality, and the presence of sleep disorders.

This analysis is observational and focuses on identifying associations 
rather than causal relationships.

## Independent Variables (Factors)
- Age
- Gender
- BMI Category
- Physical Activity Level
- Stress Level
- Daily Steps
- Heart Rate

## Dependent Variables (Sleep Outcomes)
- Sleep Duration
- Quality of Sleep
- Sleep Disorder

## Analytical Approach
- Exploratory data analysis (EDA)
- Group comparisons across categorical variables
- Correlation analysis for numerical variables
- Visual analysis using plots and summary statistics

In [17]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [18]:
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

## Initial Data Inspection

In this section, we perform a first look at the dataset to understand:
- Dataset size
- Data types
- Missing values
- Potential data quality issues

In [19]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [167]:
df.shape

(374, 13)

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    str
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    str
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    str
 9   Blood Pressure           374 non-null    str
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    str
dtypes: float64(1), int64(7), str(5)
memory usage: 38.1 KB

In [168]:
df.isna().sum

<bound method DataFrame.sum of      Person ID  Gender    Age  Occupation  Sleep Duration  Quality of Sleep  \
0        False   False  False       False           False             False
1        False   False  False       False           False             False
2        False   False  False       False           False             False
3        False   False  False       False           False             False
4        False   False  False       False           False             False
..         ...     ...    ...         ...             ...               ...
369      False   False  False       False           False             False
370      False   False  False       False           False             False
371      False   False  False       False           False             False
372      False   False  False       False           False             False
373      False   False  False       False           False             False

     Physical Activity Level  Stress Level  BMI Category  Blood Pressure  \
0                      False         False         False           False
1                      False         False         False           False
2                      False         False         False           False
3                      False         False         False           False
4                      False         False         False           False
..                       ...           ...           ...             ...
369                    False         False         False           False
370                    False         False         False           False
371                    False         False         False           False
372                    False         False         False           False
373                    False         False         False           False

     Heart Rate  Daily Steps  Sleep Disorder
0         False        False           False
1         False        False           False
2         False        False           False
3         False        False           False
4         False        False           False
..          ...          ...             ...
369       False        False           False
370       False        False           False
371       False        False           False
372       False        False           False
373       False        False           False

[374 rows x 13 columns]>

In [169]:
df.duplicated().sum()

np.int64(0)

In [21]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [165]:
df.describe(include="object")

C:\Users\Андрей Рубцов\AppData\Local\Temp\ipykernel_17804\702825166.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.describe(include="object")

       Gender Occupation BMI Category Blood Pressure Sleep Disorder
count     374        374          374            374            374
unique      2         11            3             25              3
top      Male      Nurse       Normal         130/85           None
freq      189         73          216             99            219

## Column Descriptions

Below is a detailed description of each feature in the dataset.
This section helps to understand the meaning and role of each variable
before performing deeper exploratory analysis.

### Demographic Information
- **Person ID**  
  Unique identifier assigned to each individual.

- **Gender**  
  Biological sex of the individual (Male or Female).

- **Age**  
  Age of the individual in years.

- **Occupation**  
  Job or professional category of the individual.

### Sleep-Related Features
- **Sleep Duration**  
  Average number of hours the individual sleeps per day.

- **Quality of Sleep**  
  Subjective sleep quality rating on a scale from 1 to 10.

- **Sleep Disorder**  
  Indicates whether the individual has a diagnosed sleep disorder
  such as Insomnia or Sleep Apnea.
  Missing values likely represent individuals without sleep disorders.

### Lifestyle and Health Indicators
- **Physical Activity Level**  
  Numeric indicator of daily physical activity intensity or duration.

- **Stress Level**  
  Self-reported stress level on a numeric scale.
  Higher values indicate higher stress.

- **BMI Category**  
  Body Mass Index classification (Normal, Overweight, Obese).

- **Blood Pressure**  
  Blood pressure measurement recorded as systolic/diastolic
  (for example, 120/80).

- **Heart Rate**  
  Resting heart rate measured in beats per minute (BPM).

- **Daily Steps**  
  Average number of steps taken per day.

## Data Quality Checks

Before proceeding to exploratory analysis, we perform additional data quality checks
to identify potential issues such as:
- Inconsistent values
- Unexpected ranges
- Features requiring transformation

In [174]:
categorical_cols = df.select_dtypes(include="object").columns
categorical_cols

C:\Users\Андрей Рубцов\AppData\Local\Temp\ipykernel_17804\3430876840.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = df.select_dtypes(include="object").columns

Index(['Gender', 'Occupation', 'BMI Category', 'Blood Pressure',
       'Sleep Disorder'],
      dtype='str')

In [177]:
for col in categorical_cols:
    print(f"\n{col}")
    print(df[col].value_counts())

Gender
Gender
Male      189
Female    185
Name: count, dtype: int64

Occupation
Occupation
Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: count, dtype: int64

BMI Category
BMI Category
Normal        216
Overweight    148
Obese          10
Name: count, dtype: int64

Blood Pressure
Blood Pressure
130/85    99
125/80    65
140/95    65
120/80    45
115/75    32
135/90    27
140/90     4
125/82     4
132/87     3
128/85     3
126/83     2
130/86     2
117/76     2
131/86     2
128/84     2
135/88     2
129/84     2
115/78     2
119/77     2
142/92     2
139/91     2
118/75     2
118/76     1
121/79     1
122/80     1
Name: count, dtype: int64

Sleep Disorder
Sleep Disorder
None           219
Sleep Apnea     78
Insomnia        77
Name: count, dtype: int64

In [178]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
numerical_cols

Index(['Person ID', 'Age', 'Sleep Duration', 'Quality of Sleep',
       'Physical Activity Level', 'Stress Level', 'Heart Rate', 'Daily Steps'],
      dtype='str')

In [185]:
'Minimal', df[numerical_cols].min(), 'Maximal', df[numerical_cols].max()

('Minimal',
 Person ID                     1.0
 Age                          27.0
 Sleep Duration                5.8
 Quality of Sleep              4.0
 Physical Activity Level      30.0
 Stress Level                  3.0
 Heart Rate                   65.0
 Daily Steps                3000.0
 dtype: float64,
 'Maximal',
 Person ID                    374.0
 Age                           59.0
 Sleep Duration                 8.5
 Quality of Sleep               9.0
 Physical Activity Level       90.0
 Stress Level                   8.0
 Heart Rate                    86.0
 Daily Steps                10000.0
 dtype: float64)